<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/dist/app.css">
</head>
<body class="">

{% include 'partials/header.twig' %}

{% block content %}
{% endblock %}


<div class="flex">

  <div class="">{% include 'partials/sitebar.twig' %}</div>

  <div class=" mx-auto ml-56">{% include 'partials/category.twig' %}</div>

  <div class=" mx-auto ml-56">{% include 'partials/section.twig' %}</div>

</div>




{% include 'partials/footer.twig' %}

</body>
</html>
