<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/dist/app.css">
</head>
<body>

{% include 'partials/header.twig' %}

{% block content %}
{% endblock %}

{% include 'partials/section.twig' %}

{% include 'partials/footer.twig' %}

</body>
</html>
