<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YouTube</title>
  <link rel="stylesheet" href="/dist/app.css">
</head>
<body>

<div class=" relative">

  <div class=" fixed top-0 left-0 w-full bg-white z-50">
    {% include 'partials/header.twig' %}
    {% block content %}
    {% endblock %}
  </div>


  <div class="flex">
      <div class="">
        {% include 'partials/sitebar.twig' %}
      </div>
  
      <div>
        <div >{% include 'partials/category.twig' %}</div>
        <div >{% include 'partials/section.twig' %}</div>
      </div>

  </div>



</div>

</body>
</html>
