<div class="ml-64 pt-16 whitespace-nowrap">
    <div class="ml-3 flex text-sm space-x-3 overflow-x-scroll">
        <a href="#" class="px-3 py-0 mx-1 bg-slate-800 border border-gray-300 rounded-md transition hover:bg-gray-600 text-white">All</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Putin Huilo</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Video</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Programming</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Video games</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Rumble</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Tanks</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Miss</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">News</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Ukraine</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Pets</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">New for you</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Youtubelogo</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">TV</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">TSN</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">News</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">1+1</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Shorts</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Content</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Sever</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Shorts</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Ukraine</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Sever</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Full</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">News</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Clone</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Shorts</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Marilyn Myller</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Ukraine</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Programming</a>
    </div>
</div>