<div class=" bg-white  mb-4 w-full">
    <div class="ml-1 flex text-sm space-x-3 ">
        <a href="#" class=" px-3 py-0 mx-1 bg-slate-800 border border-gray-300 rounded-md transition hover:bg-gray-600 text-white">All</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Putin Huilo</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Video</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Programming</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Video games</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Rumble</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Tanks</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Miss</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">News</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Ukraine</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Pets</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">New for you</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Youtubelogo</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Tanks</a>
        <a href="#" class="px-3 py-0 mx-1 bg-slate-100 border border-gray-300 rounded-md transition hover:bg-gray-200">Rumble</a>
    </div>
</div>