<section>
    <div class=" bg-orange-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis veritatis animi hic nemo quam impedit quaerat fugit! Mollitia, repellendus eum! Deleniti vero consectetur at fuga cum modi dolorem omnis.</div>
</section>