
<div>
    <ul class="border-r border-gray-300 h-screen mr-1 text-xs">
        <li>
        <a href="#">
            <div class="flex items-center hover:bg-slate-100 p-1 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class=" text-gray-700 mx-3 h-5 w-5 hover:red-600" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                  </svg>
                <p class="text-grey-700">Home</p>
            </div>
        </a>
        </li>
        <li>
            <a href="#">
                <div class="flex items-center hover:bg-slate-100 p-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" text-gray-700 mx-3 h-5 w-5 hover:red-600" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" />
                      </svg>
                    <p class="text-grey-700">Trending</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="flex items-center hover:bg-slate-100 p-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" text-gray-700 mx-3 h-5 w-5 hover:red-600" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
                      </svg>
                    <p class="text-grey-700">Subscriptions</p>
                </div>
            </a>
        </li>
        <div class=" border-b border-gray-300 mt-2 mb-2"></div>
        <li>
            <a href="#">
                <div class="flex items-center hover:bg-slate-100 p-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" text-gray-700 mx-3 h-5 w-5 hover:red-600" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z" />
            <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
                      </svg>
                    <p class="text-grey-700">Library</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="flex items-center hover:bg-slate-100 p-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" text-gray-700 mx-3 h-5 w-5 hover:red-600" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                      </svg>
                    <p class="text-grey-700">History</p>
                </div>
            </a>
        </li>
        <div class=" border-b border-gray-300 mt-2 mb-2"></div>
        <li class=" p-1 ml-3 w-40">
            <span>Sign in to like videos, comment, and subscribe.</span>
        </li>
        <li class=" p-1 ml-3 w-40">
            <button class="flex items-center border rounded-sm border-blue-800 text-blue-800 uppercase text-xs p-1 hover:bg-blue-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Sign in
              </button>
        </li>
        <div class=" border-b border-gray-300 mt-2 mb-2"></div>
        </ul>
</div>

